@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #212121 url(../img/header_bg.jpg) no-repeat center;
    height: 790px;
    color: #ffffff;
}

.header__logo__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    margin-bottom: 113px;
}
.header__logo {
    font-size: 30px;
    color: #5a5a5a;
}
.header__phone {
    text-align: right;
}
.header__phone__number {
    margin-bottom: 10px;
}
.header__phone__number a {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}
.header__phone__feedback a {
    font-size: 16px;
    text-decoration: underline;
    color: #287db8;
}

.header__title {
    text-align: center;
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__subtitle {
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 100px;
}

.header__advantages {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 100px;
}
.header__advantage {
    min-width: 164px;
}
.header__advantage-img {
    min-height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__advantage-text {
    font-size: 18px;
    line-height: 1.2;
}

.header__buttons {
    display: flex;
    justify-content: space-evenly;
}
.header__button {
    text-align: center;
    width: 240px;
}
.header__button a {
    color: #ffffff;
}
.header__button-text {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 20px;
}
.header__button-quick {
    background-color: #287db8;
    border-radius: 25px;
    padding: 17px;
    font-size: 18px;
    font-weight: 700;
}
.header__button-detailed {
    border: 2px solid #287db8;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.advantages__items {
    padding-top: 80px;
}
.advantages__item {
    text-align: center;
}
.advantages__item-img {
    margin-bottom: 30px;
}
.advantages__item-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.advantages__item-text {
    font-size: 14px;
}
.advantages__items .row {
    margin-bottom: 80px;
}

.request {
    background-color: #ebebeb;
    padding: 80px 0;
}
.request__title {
    margin-bottom: 21px;
}
.request__subtitle {
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
}
.request__form {
    border: 5.0px solid #ffffff;
    padding: 40px 60px 60px 60px;
}
.request__form-field {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 700;
}

select {
    font-size: 13px;
    color: #b8b8b8;
    height: 40px;
}
.select-down {
    position: relative;
}
.select-down::after {
    content: "";
    width: 1px;
    height: 20px;
    color: #e8e8e8;
    position: absolute;
    top: 0;
    left: 0;
}
option {
    font-size: 13px;
    line-height: 25px;
    color: #606060;
}

.btn-primary {
    margin-top: 29px;
    padding: 12px 70px;
    font-size: 18px;
    font-weight: 700;
    background-color: #287db8;
    border-radius: 25px;
    border: none;
}

textarea {
    resize: none
}

textarea.form-control {
    height: 117px;
}

::placeholder {
    font-size: 13px;
    color: #b8b8b8;
}

.form-control {
    height: 38px;
    font-size: 13px;
    color: #b8b8b8;
}

.stock {
    padding: 80px;
}
.stock__title {
    margin-bottom: 60px;
}
.stock__logo {
}
.stock__logo-row {
    display: flex;
    justify-content: center;
}
.stock__logo-offset {
    padding: 20px;
    filter: grayscale(0.95);
    transition: 1s;
}
.stock__logo-offset:hover {
    filter: grayscale(0);
}

.look {
    margin-bottom: 80px;
}
.look__title {
    margin-bottom: 60px;
}

.look__video {
    border: 5px solid #f2f2f2;
    text-align: center;
    padding: 20px;
}

.customers {
    background-color: #ebebeb;
    padding: 80px;
}
.customers__title {
    margin-bottom: 60px;
}